<form id="filters" method="get" action="/partials/cards">
  <fieldset><legend>Studio</legend>
    <label><input type="checkbox" name="studio" value="dgcdance"> DGC Dance</label>
    <label><input type="checkbox" name="studio" value="lum3x"> LUM3X</label>
    <label><input type="checkbox" name="studio" value="ventures"> Ventures</label>
    <label><input type="checkbox" name="studio" value="kpoplondonmin"> kpoplondonmin</label>
    <label><input type="checkbox" name="studio" value="haven"> Haven</label>
  </fieldset>
  <button type="submit">Apply</button>
  <button type="button" id="clearFilters2">Clear all</button>
</form>
